VITE_SUPABASE_URL=https://tejewbxxatkhbzcqlyki.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key
VITE_SUPABASE_SERVICE_KEY=your_service_role_key
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_ADMIN_EMAIL=your_admin_email@gmail.com
